.page__account-settings :is(li.font-weight-bold, .jump-nav li:hover a){
  background-color: #D1E9FF;
}

.page__account-settings .font-weight-bold {
  font-weight: 500 !important;
}

.page__account-settings .jump-nav {
  padding: unset !important;
}

.account-section {
  padding: unset !important;
}

.page__account-settings .jump-nav li a {
  text-decoration: unset;
  color: black;
  display: block;
  font-size: 14px;
  padding: 8px 12px;
  transition: 0.4s;
  line-height: 20px;
}

.page__account-settings .jump-nav li {
  border-radius:6px;
  overflow: hidden;
}

.page__account-settings {max-width: 1170px;margin: 0 auto;padding: unset;}

.page__account-settings > div > .row {display:flex;gap: 50px;margin: unset;}






@media (min-width: 768px) {
  .page__account-settings > div > .row > * {
    padding: 0 !important;
    flex: unset;
    max-width: unset;
    width: auto;
  }

  .page__account-settings > div > .row > *:last-child {
    width: calc(100% - 240px - 50px);
    max-width: 100%;
  }
}


.account-section .section-heading {
  font-size: clamp(14px,4vw, 18px);
  margin-bottom: 14px !important;
  line-height: 24px;
  font-weight: 700;
}





.account-section > p {
  font-size: clamp(12px,4vw,14px);
  color: #515661;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 24px;
}

.pgn-transition-replace-group {
  border: solid #d1e9ff;
  padding: 20px;
  border-radius: 8px;
  border-width: 1px 1px 1px 8px;
}

.account-section > .pgn-transition-replace-group + * {
  margin-top: 15px;
}

.page__account-settings h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.page__account-settings p.text-truncate {
  line-height: 20px;
  font-size: 16px;
  color: #515661;
  font-weight: 600;
  margin-bottom: 10px;
}

.page__account-settings p.small.text-muted {
  padding: 10px 15px;
  background-color: #F5FAFF;
  border-radius: 8px;
  margin: unset !important;
  font-size: 14px;
  line-height: 20px;
  color: #111827 !important;
}

.page__account-settings h6 + .button {}

.page__account-settings p.small.text-muted:empty {
  display: none;
}

div#delete-account p {
  font-size: 14px;
  color: #515661 !important;
  font-weight: 500 !important;
  line-height: 22px;
}

a.pgn__hyperlink.default-link.standalone-link {
  color: #515661;
  text-decoration-color: #515661 !important;
  text-underline-offset: 5px;
}

.btn-outline-danger {
  color: #374151;
  border: 1px solid #D1E9FF;
  font-size: 14px;
  padding: 8px 14px;
}

.text-danger {
  color: #C32D3A !important;
  font-weight: 500;
  font-size: 14px;
}


@media (max-width: 767px) {
  .page__account-settings {
    padding: 20px;
  }
  .page__account-settings > div > .row {
    flex-direction: column;
  }
  .page__account-settings > div > .row > * {
    padding: 0;
  }
}
