// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

:root {
  --shadw-100:  rgba(198, 198, 198, 0.44);
  --btn-primary: #2E90FA;
  --btn-outlined-primary: transparent;
  --btn-outlined-primary--text: #374151;
}

body {
  //background-image: url("https://framerusercontent.com/images/wSzvTT1ZyGcTOhxUVQOg97dmudM.png?scale-down-to=4096");
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;
}

.btn-brand {
  color: #000000;
  background-color: unset;
  box-shadow: none;
  border: 1px solid;
  font-weight: 800;
  border-radius: 40px;
}

.btn-inverse-primary {
  font-weight: 600;
  padding: 10px !important;
  background: transparent;
  border-radius: 0 !important;
  border: unset !important;
  border-bottom: unset !important;
}

.btn.pgn__avatar-button-avatar {
  background: transparent;
  border: unset;
  font-weight: 600;
}

#root footer {
  background: transparent;
}

//changes for learner dashboard
.learner-variant-header a.btn {
  position:relative;
  background-color: unset !important;
  padding: 20px !important;
  border-bottom: unset !important;
  border: unset !important;
}

.learner-variant-header a.btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid black;
  transition:0.4s;
  opacity:0;
}

.learner-variant-header a.btn:hover:after {opacity:1;background:unset;}

.btn-light.focus::before, .btn-light:focus::before, .btn-dark.focus::before, .btn-dark:focus::before {
  border:unset;
  outline: 2px solid #093055 !important;
  inset: 0;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  background-color: unset;
}

.btn-brand.disabled, .btn-brand:disabled {
  background: #2E90FA;
  font-weight: 400;
  border: unset;
  border-radius: 6px;
}

.masquerade-bar .masquerade-form-label {
  color: #111827;
}

#course-filter-controls button.btn.btn-outline-primary {
  border-color: #D1D5DB;
  color: #374151;
}

.pgn__card .pgn__card-header .pgn__card-header-content {
  margin-top: 0;
  align-self: center;
}

.pgn__card .pgn__card-header .pgn__card-header-title-md > h3 {
  margin: 0;
}

.pgn__card .pgn__card-header .pgn__card-header-actions {
  margin: 0;
}

.pgn__card .pgn__card-header {
  padding: 0;
  margin-bottom: 0px;
  padding-top: 10px;
}

.pgn__card .pgn__card-section {
  padding: 0;
}

.pgn__card .pgn__card-footer.horizontal {
  padding: 0;
  margin-top: auto;
  padding-bottom: 20px;
}

.pgn__card-body {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.pgn__action-row button.btn.btn-outline-primary, button.btn.btn-outline-primary {
  color: #374151;
  background-color: transparent;
  border-color: #D1D5DB;
  padding: 8px 14px !important;
  font-size: 16px;
}

//a.btn.btn-primary, button.btn.btn-primary {
//  background-color: #2E90FA !important;
//  font-size: 16px !important;
//  line-height: 20px;
//  padding: 8px 14px !important;
//  border: 3px solid transparent !important;
//  transition: 0.4s;
//}

.pgn__card-section > span {
  color: #515661;
  font-size: 12px;
  font-weight: 400;
}

.btn-icon.btn-icon-primary.hover, .btn-icon.btn-icon-primary:hover, .btn-icon.btn-icon-primary.active, .btn-icon.btn-icon-primary:active {
  background: #2e90fa;
  opacity: 0.9;
}

.course-card .course-card-banners > .alert:last-of-type {
  padding: 10px;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {background-color: #2e90fa;opacity: 0.7;border-color: transparent !important;}

.btn-primary.focus:active::before, .btn-primary.focus.active::before, .btn-primary:focus:active::before, .btn-primary:focus.active::before {
  border-color: transparent;
}


//general changes
:is(.profile-page, .page__account-settings) .btn-link,:is(.profile-page, .page__account-settings) .btn-primary {
  margin-inline-start: auto !important;
  text-decoration: unset;
  color: white;
  background-color: #2E90FA;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  transition: opacity 0.4s;
  padding: 8px 14px !important;
}

:is(.profile-page, .page__account-settings) .btn-link:hover , :is(.profile-page, .page__account-settings) .btn-primary:hover{opacity: 0.8;}
:is(.profile-page, .page__account-settings) .btn-link svg {
  display: none;
}

.btn.btn-outline-primary, .btn.btn-outline-primary {
  color: #374151;
  background-color: transparent;
  border-color: #D1D5DB;
  padding: 8px 14px !important;
  font-size: 16px;
  transition: 0.4s;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {opacity: 0.8}

.btn-icon.btn-icon-secondary.hover, .btn-icon.btn-icon-secondary:hover, .btn-icon.btn-icon-secondary.active, .btn-icon.btn-icon-secondary:active {background-color: #2E90FA;}


:root {

}

.btn.btn-primary {
  background-color: var(--btn-primary) !important;
  font-size: 16px !important;
  line-height: 20px;
  padding: 8px 14px !important;
  border: unset !important;
  transition: 0.4s;
}

.btn.btn-outline-primary {
  color: var(--btn-outlined-primary--text) !important;
  background-color: var(--btn-outlined-primary) !important;
  border-color: #D1D5DB !important;
  padding: 8px 14px !important;
  line-height: 20px !important;
  font-size: 16px !important;
}
