// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.


body {
  //background-image: url("https://framerusercontent.com/images/wSzvTT1ZyGcTOhxUVQOg97dmudM.png?scale-down-to=4096");
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-size: cover;
}

.btn-brand {
  color: #000000;
  background-color: unset;
  box-shadow: none;
  border: 1px solid;
  font-weight: 800;
  border-radius: 40px;
}

.btn-inverse-primary {
  font-weight: 600;
  padding: 10px !important;
  background: transparent;
  border-radius: 0 !important;
  border: unset !important;
  border-bottom: unset !important;
}

.btn.pgn__avatar-button-avatar {
  background: transparent;
  border: unset;
  font-weight: 600;
}

#root footer {
  background: transparent;
}

.profile-page-bg-banner {
  background: transparent !important;
}

//changes for learner dashboard
.learner-variant-header a.btn {
  position:relative;
  background-color: unset !important;
  padding: 20px !important;
  border-bottom: unset !important;
  border: unset !important;
}

.learner-variant-header a.btn:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid black;
  transition:0.4s;
  opacity:0;
}

.learner-variant-header a.btn:hover:after {opacity:1;background:unset;}
