// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$brand-primary: #FF1493;
$brand-success: #28a745;

$primary: #0083ff;
$brand: #0A3055;

$light: #E1DDDB;
$dark: #005b1f;
