// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$brand-primary: #FF1493 !default;
$brand-success: #28a745 !default;

$primary: #0083ff !default;
$brand: #0A3055 !default;

$light: #E1DDDB !default;
$dark: #005b1f !default;
