.card-item.pgn__card.pgn__card-light.card {
  border: solid #d1e9ff;
  padding: 20px;
  border-radius: 8px;
  border-width: 1px 1px 1px 8px;
  box-shadow: unset;
}

.pgn__card .pgn__card-header {
  padding: 0;
}



a.taxonomy-card.pgn__card.clickable.pgn__card-light.card {
  padding: 20px;
}

.bg-light-400.mt-1 {
  background-color: white !important;
}

div#download-template-dropdown {
}
