body:has(.studio-header)  {

  .studio-header {height: auto}

  header.pgn__action-row > * > * {
    gap: 20px;
    align-items: center;
  }

  header.pgn__action-row > * > * > *:has(.logo) {
    flex-shrink: 0;
  }

  .card-item.pgn__card.pgn__card-light.card {
    border: solid #d1e9ff;
    padding: 20px;
    border-radius: 8px;
    border-width: 1px 1px 1px 8px;
    box-shadow: unset;
  }

  .pgn__card .pgn__card-header {
    padding: 0;
  }

  a.taxonomy-card.pgn__card.clickable.pgn__card-light.card {
    padding: 20px;
  }

  .bg-light-400.mt-1 {
    background-color: white !important;
  }

  div#download-template-dropdown {
  }


  .section-card__subsections > div {
    border: solid #d1e9ff !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: unset !important;
    background-color: white !important;
    border-width: 1px 1px 1px 8px !important;
  }

  button.btn.btn-outline-primary.mt-4 {
    background-color: white !important;
  }
  .bg-light-200 {
    background-color: white !important;
  }
  .alert-info {
    background-color: #F5FAFF;
    border: 1px solid #D1E9FF;
    box-shadow: unset !important;
  }

  .pgn__hstack > div > * > a {
    color: #175CD3 !important;
  }
  .pgn__bubble.pgn__bubble-primary {
    background-color: var(--btn-primary) !important;
  }

  .courses-tab-container .pgn__hyperlink.default-link.standalone-link.card-item-title {
    margin: unset;
  }

  .schedule-and-details{
    .pgn__card.card {
      padding: 20px;
      gap: 10px;
    }
    .pgn__card-section.px-3.py-1 {
      align-self: start;
      color: #006DAA;
    }
    .pgn__hyperlink.default-link.standalone-link.lead.info-500.small.text-decoration-none {
      color: #006DAA;
    }

    .pgn__mailtolink {
      margin: unset !important;
    }
    .pgn__card.card > * {
      padding: unset !important;
    }
  }

  section.course-outline-section > div > div.row:has(.section-card) {
    border: solid #d1e9ff !important;
    padding: 20px !important;
    border-radius: 8px !important;
    box-shadow: unset !important;
    background-color: white !important;
    border-width: 1px 1px 1px 8px !important;
  }

  .processing-notification.is-show {
    background: var(--btn-primary);
    color: white;
  }

  .processing-notification .processing-notification-title {
    color: white !important;
  }

//  add buttons styles

  .btn.btn-outline-primary, .btn.btn-outline-primary, button.btn.btn-outline-dark {
    color: #374151;
    background-color: transparent;
    border-color: #D1D5DB;
    padding: 8px 14px !important;
    font-size: 16px;
    transition: 0.4s;
  }

  .btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {opacity: 0.8}

  .btn-icon.btn-icon-secondary.hover, .btn-icon.btn-icon-secondary:hover, .btn-icon.btn-icon-secondary.active, .btn-icon.btn-icon-secondary:active {background-color: #2E90FA;}


  .btn.btn-primary {
    background-color: var(--btn-primary) !important;
    font-size: 16px !important;
    line-height: 20px;
    padding: 8px 14px !important;
    border: unset !important;
    transition: 0.4s;
  }

  .btn.btn-outline-primary {
    color: var(--btn-outlined-primary--text) !important;
    background-color: var(--btn-outlined-primary) !important;
    border-color: #D1D5DB !important;
    padding: 8px 14px !important;
    line-height: 20px !important;
    font-size: 16px !important;
  }
}


