.card-item.pgn__card.pgn__card-light.card {
  border: solid #d1e9ff;
  padding: 20px;
  border-radius: 8px;
  border-width: 1px 1px 1px 8px;
  box-shadow: unset;
}

.pgn__card .pgn__card-header {
  padding: 0;
}

a.taxonomy-card.pgn__card.clickable.pgn__card-light.card {
  padding: 20px;
}

.bg-light-400.mt-1 {
  background-color: white !important;
}

div#download-template-dropdown {
}


.pt-4 > div {
  background-color: #F5FAFF !important;
  border: 1px solid #D1E9FF;
  box-shadow: unset !important;
}
.pt-4 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
  border: solid #d1e9ff !important;
  padding: 20px !important;
  border-radius: 8px !important;
  border-width: 1px 1px 1px 8px !important;
  box-shadow: unset !important;
  background-color: white !important;
}
button.btn.btn-outline-primary.mt-4 {
  background-color: white !important;
}
.bg-light-200 {
  background-color: white !important;
}
.alert-info {
  background-color: #F5FAFF;
  border: 1px solid #D1E9FF;
  box-shadow: unset !important;
}

.pgn__hstack > div > * > a {
  color: #175CD3 !important;
}
.pgn__bubble.pgn__bubble-primary {
  background-color: var(--btn-primary) !important;
}

.courses-tab-container .pgn__hyperlink.default-link.standalone-link.card-item-title {
  margin: unset;
}

.schedule-and-details{
  .pgn__card.card {
    padding: 20px;
    gap: 10px;
  }
  .pgn__card-section.px-3.py-1 {
    align-self: start;
    color: #006DAA;
  }
  .pgn__hyperlink.default-link.standalone-link.lead.info-500.small.text-decoration-none {
    color: #006DAA;
  }

  .pgn__mailtolink {
    margin: unset !important;
  }
  .pgn__card.card > * {
    padding: unset !important;
  }
}

